*.timelock.*
*.lock  
*.lock.*
*.pyc
*/__pycache__/* # Python cache files
*/.pytest_cache/* # pytest cache files
*/.mypy_cache/* # mypy cache files
*/.coverage/* # coverage cache files
*/.coverage.* # coverage cache files
*/.coverage.* # coverage cache files


# PDFs of papers that have been downloaded
data/pdfs/
